$icon-videomobile: "\e000";
$icon-videodesktop: "\e002";
$icon-videopresentation: "\e00e";
$icon-videovideo: "\e011";
$icon-videoexpand: "\e01a";
$icon-videofocus: "\e01b";
$icon-videochat: "\e049";
$icon-videorefresh: "\e05a";
