<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title></title>
	{module_contentholder,name="section_style"}
</head>
<body>
	<header id="home">
		{module_contentholder,name="section_navPrimary"}		
	</header>
	{tag_pagecontent}		
	<!-- subscribe -->
		{module_contentholder,name="section_subscribe"}
    <!-- contact -->
    <section class="dark-bg text-center section-padding contact-wrap" id="contact">
    <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="arrow">Get in touch</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <ul class="social-buttons">
                    <li><a href="/" class="social-btn"><i class="fa fa-dribbble"></i></a>
                    </li>
                    <li><a href="/" class="social-btn"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="/" class="social-btn"><i class="fa fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
    <!-- footer -->

	{module_contentholder,name="section_footer"}	
	{module_contentholder,name="section_js"}
</body>
</html>