<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title></title>
	{module_contentholder,name="section_style"}
</head>
<body>
	<header id="home">
		{module_contentholder,name="section_navPrimary"}		
	</header>
	{tag_pagecontent}		
		<!-- subscribe -->
		{module_contentholder,name="section_subscribe"}	
    <!-- contact -->
    {module_contentholder,name="section_contact"}	
    <!-- footer -->

	{module_contentholder,name="section_footer"}	
	{module_contentholder,name="section_js"}
</body>
</html>